* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.container {
    display: block;
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 800px;
    width: 100%;
}

.ex {
    display: flex;
    margin-top: 50px;
}

.ex__box {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    width: 100%;
    min-height: 400px;
    margin: 0;
    align-items: center;
    justify-content: center;
    box-shadow: black 20px 20px 40px -8px;

}

.ex__settings {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.ex__input {
    width: 500px;
    min-height: 50px;
    margin-bottom: 40px;
    color: black;
    font-size: 20px;
    text-align: center;
}

.ex__input::placeholder {

    color: #ccc;
}

.ex__submit {
    width: 150px;
    min-height: 30px;
    font-size: 16px;
    padding: 10px 0;
}

.hidden {
    display: none;
}

.sample {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.sample__str {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 25px;

}

.sample__input {
    width: 100px;
    min-height: 30px;
    border: none;
    background: #eeecec;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
    margin-right: 25px;
}

.sample__result {
    width: 100px;
    text-align: center;
    margin-left: 55px;
    font-size: 20px;
}

.sample__check {
    width: 100px;
    margin-left: 45px;
}


.result {
    position: absolute;
    display: flex;
    align-items:center;
    justify-content:center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(141, 135, 135, 0.384);
}

.result__box {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 500px; 
    width: 100%;
    height: 300px;
    margin: 150px 30px;
}

.result__text {
    font-size: 28px;
    font-family: fantasy;
    text-align: center;
    line-height: 40px;
}

.result__closer {
    font-size: 18px;
    /* font-family: fantasy; */
    height: 30px;
    width: 150px;
}

@media (max-width:580px) {
    .ex__input {
        width: 300px;

    }
    .sample{
        width: unset;
    }


}

@media (max-width:370px) {
    .ex__input {
        width: 200px;
        font-size: 13px;
    }
}